/* Adapted from dhis2/metadata-management-app DetailsPanel */

.detailsPanel {
    width: 300px;
    flex-shrink: 0;
    overflow: auto;
    padding: 12px;
    background: var(--colors-grey200);
}

.card {
    padding: 16px;
}

.wrapper {
    position: sticky;
    top: 8px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
}

.headerTitle {
    font-size: 16px;
    color: var(--colors-grey900);
    font-weight: 500;
}

.title {
    margin: 0 0 12px 0;
    font-size: 18px;
    font-weight: 500;
    color: var(--colors-grey900);
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.closeButton {
    border: none;
    background: transparent;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeButton:hover {
    background: var(--colors-grey300);
}

.list {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    gap: 4px;
    border-bottom: 1px solid var(--colors-grey300);
}

.item:last-of-type {
    border-bottom: none;
}

.item a {
    color: var(--colors-blue700);
    text-decoration: underline;
}

.itemLabel {
    flex-shrink: 1;
    min-width: 110px;
    font-size: 13px;
    color: var(--colors-grey700);
}

.itemValue {
    font-size: 14px;
    text-align: end;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    min-width: 0;
}

.itemValueButton {
    margin-inline-start: 4px;
}
